@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/generated_styles/_breakpoints.scss" as *;

.root {
  margin-top: -1px;
  padding-top: 1px;
  @include sharedBackground;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__info {
    display: grid;
    align-content: center;
    gap: 24px;
    padding-bottom: 60px;

    &__title {
      font-size: 44px;
      color: $color-light-200;
      max-width: 416px;
      margin: 0;
    }

    &__text {
      color: $color-light-300;
      max-width: 486px;
    }

    @media (min-width: $tablet) {
      gap: 42px;
      padding-bottom: 100px;
    }
  }
}
