@use "@/styles/variables.scss" as *;
@use "@/generated_styles/breakpoints.scss" as *;

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin mobileOnly {
  @media (min-width: $tablet) {
    display: none;
  }
}

@mixin sharedBackground {
  background-color: $color-dark-300;
  background-image: url("/images/noise.png"),
    radial-gradient(
      100% 215.42% at 0% 0%,
      $color-gradient-start 0%,
      $color-gradient-finish 100%
    );
  background-repeat: repeat, no-repeat;
  background-size: auto;
}
