@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.pill {
  font-weight: 500;
  border-radius: 100px;
  background-color: $color-accent-200;
  transition: $main-transition;
  width: fit-content;
  padding: 15px 45px;

  @include hover {
    background-color: $color-accent-100;
  }

  &:active {
    background-color: $color-accent-300;
  }
}
