$color-light-200: #fafafa;
$color-light-300: #cdcdcd;
$color-accent-100: #fddcc4;
$color-accent-200: #f1cdb3;
$color-accent-300: #e9af86;
$color-dark-100: #545454;
$color-dark-200: #292929;
$color-dark-300: #211f20;
$color-gradient-start: #5b483a;
$color-gradient-finish: #262425;

$main-transition: 0.3s;
