$color-light-200: #FAFAFA;
$color-light-300: #CDCDCD;
$color-accent-100: #FDDCC4;
$color-accent-200: #F1CDB3;
$color-accent-300: #e9af86;
$color-dark-100: #545454;
$color-dark-200: #292929;

$main-transition: 0.3s;
