@use "@/styles/variables.scss" as *;
@use "@/generated_styles/_breakpoints.scss" as *;

.root {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
  align-content: space-between;
  gap: 16px;
  max-height: 200px ;

  @media (min-width: $tablet) {
    justify-items: start;
  }
}

.__title {
  font-size: 35px;
  color: $color-light-200;
  text-align: center;
  max-width: 270px;
  margin: 0;

  @media (min-width: $tablet) {
    justify-items: start;
    text-align: left;
  }
}
