@use "@/generated_styles/_breakpoints.scss" as *;

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 80px;
  }

  &__text {
    max-width: 430px;
  }
}
